<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/header'); %>
    <style>
      .verify {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        border-radius: 15px;
      }
      .bg-white {
        background: white;
      }
      .verify__inner {
        text-align: center;
        border-radius: 10px;
        padding: 3rem 0;
      }
      .verify__form {
        margin: 0 auto;
        width: 25rem;
        display: grid;
      }
      .verify__form .btn {
        margin: 2rem 0;
      }
      .verify__form input {
        padding: 1rem 0;
        outline: none;
        border: 0.4px solid rgb(221, 221, 221);
        border-radius: 5px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .verify__message {
        color: red;
      }
      .bi-check-circle-fill {
        width: 6rem;
        height: 6rem;
        color: green;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/homeNav'); %>

    <section class="center verify" id="main">
      <div class="container bg-white verify__inner">
        <h2>Verification</h2>
        <p>Otp Generated and sent to <%= data.email %></p>
        <p>Please check your inbox</p>
        <form
          id="form"
          class="verify__form"
          method="post"
          action="/auth/register/verify"
        >
          <input
            type="number"
            id="otp"
            class="form-control-material"
            name="otp"
            placeholder="Otp"
            autocomplete="off"
            required
          />
          <button class="btn" type="submit">Verify</button>
        </form>
        <p id="log"></p>
        <p class="verify__message">
          <span class="count" id="count"></span>
        </p>
      </div>
    </section>

    <script>
                function sendData( data ) {


        const XHR = new XMLHttpRequest();

        let urlEncodedData = "",
            urlEncodedDataPairs = [],
            name;

        // Turn the data object into an array of URL-encoded key/value pairs.
        for( name in data ) {
          urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
        }

        // Combine the pairs into a single string and replace all %-encoded spaces to
        // the '+' character; matches the behavior of browser form submissions.
        urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

        // Define what happens on successful data submission
        XHR.addEventListener( 'load', function(event) {
          showMessage();
        } );

        // Define what happens in case of error
        XHR.addEventListener( 'error', function(event) {
          alert( 'Oops! Something went wrong.' );
        } );

        // Set up our request
        XHR.open( 'POST', 'http://localhost:3000/auth/register/verify' );

        // Add the required HTTP header for form data POST requests
        XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

        // Finally, send our data.
        XHR.send( urlEncodedData );
      }

      const form = document.getElementById("form");
                 const log = document.getElementById("log");
                 form.addEventListener("submit", logSubmit);

                 var count = 3;

                 function logSubmit(event) {

                   const token = <%=otp__token%>;
                   const otp__input = document.getElementById('otp');
                   if(otp__input.value == token)
                   {


                     sendData(<%-JSON.stringify(data) %>)

                   }
                   else {
                     otp__input.value ="";
                     count--;
                     displayCount();
                   }
                   event.preventDefault();
                 }

                 function displayCount()
                 {
                      if (count === 0) {
                     window.location.href = "/auth/register";
                   }
                   var countDom = document.getElementById("count");
                   countDom.innerText = "Wrong Otp, Attempts left "+count;
                 }


                 function showMessage()
                 {


                   var main = document.getElementById("main");
                   main.style = "display:none";
                   var section = document.createElement('section');
                   section.style="margin:2rem 0"
                   var div = document.createElement('div');
                   div.classList.add('container');

                   div.classList.add('bg-white');
                   div.classList.add('verify__inner');



                   const iconSvg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
             const iconPath = document.createElementNS(
               'http://www.w3.org/2000/svg',
               'path'
             );

             iconSvg.setAttribute('fill', 'currentColor');
             iconSvg.setAttribute('viewBox', '0 0 16 16');
             iconSvg.setAttribute('width', '16');
             iconSvg.setAttribute('height', '16');
            // iconSvg.setAttribute('class', 'bi bi-check-circle-fill');
             iconSvg.classList.add('bi');
             iconSvg.classList.add('bi-check-circle-fill');

             iconPath.setAttribute(
               'd',
               'M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'
             );

             iconSvg.appendChild(iconPath);







                   let h5  = document.createElement('h5');
                   h5.style="font-size:2rem"
                   h5.innerText="Successfully Registered";
                   let a_link = document.createElement('a');
                   a_link.innerText="Please Login";
                   a_link.style = "text-transform:capitalize";
                   a_link.setAttribute('href',"/auth/login");

                   div.appendChild(iconSvg)
                   div.appendChild(h5);
                   div.appendChild(a_link);
                   section.appendChild(div);




                   document.body.appendChild(section);

                 }
    </script>
    <script src="../javascripts/mobileNav.js"></script>
  </body>
</html>
