<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>

  <body>
    <%- include('./navbar') %>

    <section class="blood-donated">
      <div class="container">
        <div class="total-blood-donated">
          <div class="card">
            <div class="card-body card-blue">
              <h3>Total Blood Units available:</h3>
              <h1><%= data.bloodunits %></h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3>Total Blood Donated till Now:</h3>
              <h1><%= data.totalblood %></h1>
            </div>
          </div>
        </div>
        <div class="blood-donated-details">
          <div class="card">
            <div class="card-body">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% info.forEach(element => { %>
                  <tr>
                    <td>
                      Donated blood to user: <%= element.touser %>, Units <%=
                      element.units %>
                    </td>
                    <td><%= element.ondate %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
