<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>

  <body>
    <%- include('./navbar') %>
    <section class="home">
      <div class="container">
        <div class="homeMain">
          <h1 class="justify-center welcome">
            Welcome
            <span style="text-transform: capitalize; padding-left: 1rem">
              <%=user.username %></span
            >
          </h1>
          <div class="availableBlood">
            <h6 class="title justify-center">
              Total Available Blood In All Blood Banks
            </h6>
            <div class="blood-group-grid justify-center">
              <% availableBlood.map((_)=> {%>
              <div class="blood-groud">
                <div class="blood-group--header">
                  <h3 class="center">
                    <svg class="icon" style="margin: 0 0.3rem">
                      <use xlink:href="images/sprite.svg#droplet"></use>
                    </svg>
                    <%=_.BloodType %>
                  </h3>
                </div>
                <div class="blood-group--body">
                  <h2 class="units"><%=_.BloodUnits %></h2>
                  <p class="units-text">Units</p>
                </div>
              </div>
              <%}) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="blood-banks-info">
      <div class="container">
        <div class="in-location">
          <h6>Available Blood Banks in your location</h6>
          <h2>6</h2>
        </div>
        <div class="line"></div>
        <div class="total">
          <h6>Total Blood Banks Registered</h6>
          <h2>12,400</h2>
        </div>
      </div>
    </section>
    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
