<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
    <style>
     
        .btn-accents {
        background: #2c87f0 !important;
        border-radius: 5px;
        color: white;
        margin: 2rem !important;
      }
      .btn-danger {
        background: red !important;
        color: white;
        border: 0 !important;
        margin: 2rem !important;
      }
      input
      {
        width: 100%;;
        outline: none;
      }
      .email
      {
        opacity: 0.5;
      }
      @media screen and (min-width:768px) {
        .register .container 
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .profile-form
      {
        width: 65%;
      }
      .password-col
      {
        
        width:30%;
      
      }
      
      }
      @media screen and (max-width:768px) {
          .password-col
          {
            margin: 2rem 0 ;
          }
      }


      
      .password-col
      {
        height: 35rem;

        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 20px 3px rgb(124 124 124 / 5%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 4rem;
        color: black;
        border-radius: 8px;
        
      }

    
      .password-form .form-input-material
      {
        margin:5rem 0 ;
        width: 100%;
      }
      
      .password-form .btn
      {
        margin: 0 !important;
        border-radius: 0;
      }

    </style>
    </style>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <a href="/" class="logo"
          ><svg class="icon">
            <use xlink:href="../images/sprite.svg#droplet-fill"></use>
          </svg>
          Blood Bank
        </a>
    
        <ul class="list collapse" id="nav">
          <li class="nav__item">
            <a href="/" class=<%= active=='home' ? "active" : "" %> >Home </a>
          </li> 
         
          <% if(user.role !== 'donar') {%>
          <li class="nav__item">
            <a href="/search" class=<%= active=='search' ? "active" : "" %> >Search for Blood </a>
          </li> 
          <% } %>
          <% if(user.role === 'donar') {%>
          <li class="nav__item">
            <a href="/addblood" class=<%= active=='addblood' ? "active" : "" %> >Add Blood </a>
          </li> 
    
          
          <li class="nav__item">
            <a href="/blooddonated"  class=<%= active=='blooddonated' ? "active" : "" %>> Blood Donated </a>
          </li>
          <% } %>
          <li class="nav__item">
            <a href="/requests"  class=<%= active=='requests' ? "active" : "" %>> Requests </a>
          </li>
          <li class="nav__item">
            <a href="/profile"  class=<%= active=='profile' ? "active" : "" %>> My Profile </a>
          </li>
          <li class="nav__item">
            <a href="/auth/logout" > Logout </a>
          </li>
        </ul>
    
        <div class="mobile-nav__menu" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </nav>
    <section class="register">
      <div class="container">
        <div class="profile-form justify-center">
          <form  action="/profile/edit"
          method="POST"
          class="login-form"
         >
          <input
              type="number"
              name="userid"
              value="<%= user.userid %>"
              hidden
            />
            <% if(user.role=='donar') {%>
              <div
                class="form-input-material"
                id="lastname-box"
                style="flex: 0 0 45%"
              >
                <input
                  type="text"
               
                  class="form-control-material"
                  name="name"
                  id="name"
                  placeholder="Last Name"
                  autocomplete="off"
                  value="<%= user.username %>"
                />
                <label for="lastname">BloodBank Name</label>
              </div>
              <% } else {%>
            <div style="display: flex">
              <div
                class="form-input-material"
                id="firstname-box"
                style="flex: 0 0 45%"
              >
                <input
                  type="text"
                  class="form-control-material"
                  name="firstname"
                  id="firstname"
                  value="<%= user.firstname %>"
                  placeholder="Name"
                  autocomplete="off"
                />
                <label for="firstname">First Name</label>
              </div>
              <div
                class="form-input-material"
                id="lastname-box"
                style="flex: 0 0 45%"
              >
                <input
                  type="text"
                
                  class="form-control-material"
                  name="lastname"
                      id="lastname"
                  placeholder="Last Name"
                  autocomplete="off"
                  
                  value="<%= user.lastname %>"
                />
                <label for="lastname">Last Name</label>
              </div>
            </div>
            <% }%>
            <div class="form-input-material email">
              <input
                type="email"
                id="email"
                class="form-control-material "
                name="email"
                      id="email"
                      autocomplete="off"
                      value="<%= user.email %>"
                      disabled
                placeholder="Email"
               
              />
              <label for="Email">Email</label>
            </div>
           
             
       
          
              <div class="form-input-material" style="flex: 0 0 50%">
                <input
                
                 
                  name="address"
                      id="address"
                 
                  class="form-control-material"
                  autocomplete="off"
                  role="textbox"
                  aria-autocomplete="list"
                  value="<%= user.address %>"
                  aria-haspopup="true"
                />
               
                </textarea>
                <label for="address">Address</label>
              </div>
              <div class="form-input-material">
                <input
                  type="text"
                
                  class="form-control-material"
                  name="city"
                  id="city"
                  placeholder="City"
                  autocomplete="off"
                  required
                  value="<%= user.city %>"
                />
                <label for="city">City</label>
              </div>

          

            <div style="display: flex">
              <div class="form-input-material" style="flex: 0 0 50%">
                <input
                  type="text"
                  class="form-control-material"
                  placeholder="Contact Prefix"
                  name="contactprefix"
                  id="prefix"
                  value="<%= user.contactprefix %>"
                  required
                />
                <label for="countrycode">Contact Prefix</label>
              </div>
              <div class="form-input-material">
                <input
                  type="number"
                  class="form-control-material"
                  placeholder="ContactNO"
                      name="contactno"
                      id="contactno"
                      value="<%= user.contactno %>"
                      autocomplete="off"
                />
                <label for="contactno">Contact No</label>
              </div>
            </div>
            <button class="btn btn-accents" type="submit">Update</button>
            <a href="/profile/"> Cancel</a>
          </form>
          
        </div>

        <div class="password-col">
          <form  action="/profile/password"
          method="POST"
          class="password-form"
          onsubmit="return checkPassword(this) ">
          <input
          type="number"
          name="userid"
          value="<%= user.userid %>"
          hidden
        />
          <div class="form-input-material">
            <input
              type="password"
              id="newpassword"
              class="form-control-material"
              name="newpassword"
              placeholder="Login"
              autocomplete="off"
              required
            />
            <label for="newpassword">New Password</label>
          </div>
        <div class="form-input-material">
          <input
            type="password"
            id="confirmpassword"
            class="form-control-material"
            name="confirmpassword"
            placeholder="Login"
            autocomplete="off"
            required
          />
          <label for="confirmpassword">Confirm Password</label>
        </div>
        <button class="btn btn-accents" type="submit">Change Password</button>
          </form>
        </div>
      </div>
    </section>
    <script src="../javascripts/mobileNav.js"></script>
    <script>
      function checkPassword(form) {
        
        var confirmpassword = document.getElementById("confirmpassword").value;
        var newpassword = document.getElementById("newpassword").value;

        if (newpassword.length !== confirmpassword.length) {
          alert("Passwords not Matching..");

          return false;
        }

        if (newpassword !== confirmpassword) {
          alert("Passwords not Matching..");

          return false;
        }
      }
    </script>
  </body>
</html>
