<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
    <style>
      .profile .card-body {
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <%- include('./navbar') %>

    <section class="profile">
      <div class="container">
        <div class="user-profile">
          <div class="card">
            <div class="card-body">
              <div>
                <img src="/images/avatar.png" />
              </div>
              <div>
                <h4><%= userdata.username %></h4>
                <p><%= userdata.city %></p>

                <div class="center">
                  <a
                    class="btn btn-accent center"
                    href="/profile/edit"
                    style="margin: 0 0.5rem"
                  >
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#pencil"></use>
                    </svg>
                    Edit
                  </a>

                  <a
                    class="btn btn-primary center"
                    onclick="onDelete('<%= userdata.userid %>')"
                    style="margin: 0 0.5rem"
                  >
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#trash"></use>
                    </svg>
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% if(user.role ==='donar') { %>
          <div class="card">
            <div class="card-body">
              <div>Blood Donated Till Now</div>
              <div>
                <h1>
                  <% if( donated.totalblood >0 && donated.totalblood != null){
                  %> <%=donated.totalblood %> <% } else { %> 0 <% }%> units
                </h1>
              </div>
            </div>
          </div>
          <% } else {%>

          <div class="card">
            <div class="card-body">
              <div>Blood Recieved Till Now</div>
              <div>
                <h1>
                  <% if( donated.totalblood >0 && donated.totalblood != null){
                  %> <%=donated.totalblood %> <% } else { %> 0 <% }%> units
                </h1>
              </div>
            </div>
          </div>

          <% } %>
        </div>
        <div class="user-details">
          <div class="card">
            <div class="card-body">
              <% if(userdata.role!='donar') {%>
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>First Name</h6>
                  </div>
                  <div class="user-text"><%= userdata.firstname %></div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Last Name</h6>
                  </div>
                  <div class="user-text"><%= userdata.lastname %></div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Gender</h6>
                  </div>
                  <div class="user-text"><%= userdata.gender %></div>
                </div>
              </div>

              <% } else {%>

              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>BloodBank Name</h6>
                  </div>
                  <div class="user-text"><%= userdata.username %></div>
                </div>
              </div>

              <% } %>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Email</h6>
                  </div>
                  <div class="user-text"><%= userdata.email %></div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Address</h6>
                  </div>
                  <div class="user-text"><%= userdata.address %></div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>City</h6>
                  </div>
                  <div class="user-text"><%= userdata.city %></div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Contact No</h6>
                  </div>
                  <div class="user-text">
                    <%= userdata.contactprefix %> <%= userdata.contactno %>
                  </div>
                </div>
              </div>

              <hr />
            </div>
          </div>

          <% if(user.role ==='donar') { %>
          <div class="card">
            <div class="card-body">
              <div class="header">
                <h6>Available Blood In your Bank</h6>
              </div>
              <hr />
              <div class="grid--4">
                <% available.map((_)=> {%>
                <div class="blood-group">
                  <div class="blood-group--header">
                    <h3><%= _.bloodtype %></h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units"><%= _.bloodunits %></h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </div>
    </section>

    <script>
      function onDelete(e) {
        const answer = confirm("Delete ?");

        if (answer) window.location.replace("/deleteUser/" + e);
      }
    </script>
    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
