<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/header'); %>

    <style>
      /* body {
        background: #f2f4f8;
      } */
      .container {
        background: white;
      }
      .content-new {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: 50rem;
        font-family: "Open Sans";
      }

      .row {
        display: flex;
        justify-content: center;
      }

      .education {
        --bg-color: #ffd861;
        --bg-color-light: #ffeeba;
        --text-color-hover: #4c5656;
        --box-shadow-color: rgba(255, 215, 97, 0.48);
      }

      .credentialing {
        --bg-color: #b8f9d3;
        --bg-color-light: #e2fced;
        --text-color-hover: #4c5656;
        --box-shadow-color: rgba(184, 249, 211, 0.48);
      }

      .wallet {
        --bg-color: #ceb2fc;
        --bg-color-light: #f0e7ff;
        --text-color-hover: #fff;
        --box-shadow-color: rgba(206, 178, 252, 0.48);
      }

      .human-resources {
        --bg-color: #71deff99;
        /* --bg-color: #dce9ff; */
        --bg-color-light: #f1f7ff;
        --text-color-hover: #4c5656;
        --box-shadow-color: rgba(220, 233, 255, 0.48);
      }

      .card {
        width: 220px;
        height: 321px;
        background: #fff;
        border-top-right-radius: 10px;
        overflow: hidden;
        display: flex;
        margin: 2rem auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
        transition: all 0.3s ease-out;
        text-decoration: none;
      }

      .card:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
          0 24px 46px var(--box-shadow-color);
      }

      .card:hover .overlay {
        transform: scale(4) translateZ(0);
      }

      .card:hover .circle {
        border-color: var(--bg-color-light);
        background: var(--bg-color);
      }

      .card:hover .circle:after {
        background: var(--bg-color-light);
      }

      .card:hover p {
        color: var(--text-color-hover);
      }

      .card:active {
        transform: scale(1) translateZ(0);
        box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
          0 15px 24px var(--box-shadow-color);
      }

      .card p {
        font-size: 17px;
        color: #4c5656;
        margin-top: 30px;
        z-index: 1000;
        transition: color 0.3s ease-out;
      }

      .circle {
        width: 131px;
        height: 131px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-out;
      }

      .circle:after {
        content: "";
        width: 118px;
        height: 118px;
        display: block;
        position: absolute;
        background: var(--bg-color);
        border-radius: 50%;

        transition: opacity 0.3s ease-out;
      }

      .circle svg {
        z-index: 10000;
        transform: translateZ(0);
      }

      .overlay {
        width: 118px;
        position: absolute;
        height: 118px;
        border-radius: 50%;
        background: var(--bg-color);
        top: 70px;
        left: 50px;
        z-index: 0;
        transition: transform 0.3s ease-out;
      }
      .blood-group:hover {
        transform: scale(1.05);
        transition: all 0.4s;
      }
      .notify {
        margin-top: 2rem;
      }
    </style>
  </head>

  <body>
    <%- include('../includes/navbar') %><%-
    include('../includes/notification',{className:"alert-primary",
    message:"Welcome "+user.username }) %>

    <section class="home">
      <div class="container container-color">
        <div class="homeMain">
          <div class="availableBlood">
            <h1 class="section__title">
              Total Available Blood In All Blood Banks
            </h1>

            <div class="blood-group-grid justify-center">
              <% availableBlood.map((_)=> {%>
              <div class="blood-group">
                <div class="blood-group--header">
                  <h3 class="center">
                    <svg class="icon" style="margin: 0 0.3rem">
                      <use xlink:href="images/sprite.svg#droplet"></use>
                    </svg>
                    <%=_.BloodType %>
                  </h3>
                </div>
                <div class="blood-group--body">
                  <h2 class="units"><%=_.BloodUnits %></h2>
                  <p class="units-text">Units</p>
                </div>
              </div>
              <%}) %>
            </div>
          </div>
        </div>

        <div class="blood-banks-info">
          <div class="in-location">
            <h6>Available Blood Banks in your location</h6>
            <h2>6</h2>
          </div>
          <div class="line"></div>
          <div class="total">
            <h6>Total Blood Banks Registered</h6>
            <h2>12,400</h2>
          </div>
        </div>
        <hr />
      </div>
    </section>

    <section class="content-block" style="margin-bottom: 4rem">
      <div class="container container-color" style="padding-top: 10rem">
        <h1 class="section__title">QUICK LINKS</h1>
        <div class="flex" style="padding-top: 5rem">
          <% if(user.role ==='donar') { %>
          <a href="/addblood" class="card education">
            <div class="overlay"></div>
            <div class="circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="71px"
                height="76px"
                viewBox="0 0 112.84 178.11"
              >
                <defs>
                  <style>
                    .addblood__cls-1 {
                      fill: #d98a19;
                    }
                    .addblood__cls-2 {
                      font-size: 119.94px;
                      fill: #fff;
                      font-family: NAILED, NAILED;
                    }
                  </style>
                </defs>
                <title>Asset 1</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path
                      class="addblood__cls-1"
                      d="M112.84,106.42A56.42,56.42,0,1,1,0,106.42C0,75.26,56.42,0,56.42,0S112.84,75.26,112.84,106.42Z"
                    />
                    <text
                      class="addblood__cls-2"
                      transform="translate(22.08 158.2)"
                    >
                      +
                    </text>
                  </g>
                </g>
              </svg>
            </div>
            <p>Add Blood</p>
          </a>

          <a href="/blooddonated" class="card credentialing">
            <div class="overlay"></div>
            <div class="circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64px"
                height="72px"
                viewBox="0 0 359.62 297.46"
              >
                <defs>
                  <style>
                    .blooddonation__cls-1 {
                      fill: #4fc391;
                      fill-rule: evenodd;
                    }
                    .blooddonation__cls-2 {
                      fill: #5bd6a2;
                    }
                    .blooddonation__cls-3 {
                      font-size: 78.98px;
                      fill: #fff;
                      font-family: NAILED, NAILED;
                    }
                  </style>
                </defs>
                <title>Asset 5</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path
                      class="blooddonation__cls-1"
                      d="M359.62,179c-2.93,3.23-6.46,6-9.7,8.93-4,3.54-8,6.92-12,10.32-7.54,6.31-15.08,12.31-22.62,18.62a20.66,20.66,0,0,0-8.15-9.23c-4.92-3.38-11.08-5.08-17.23-6,3.69-4.93,10.15-6.92,15.69-9.38,6.31-2.78,11.39-7.24,16.93-11.55,5.39-4.16,11.23-8,18.32-8.46,6.46-.47,14.46,1.38,18.77,6.76Zm-98.79,16.93H261v-.16l-.15.16ZM243.6,232a1.19,1.19,0,0,1-.77-.15c-1.85-.16-3.54-.16-5.39-.31l-4.62-.31s-.61.15-.61,0c-2.47,0-4.92,0-7.39.15l-2.61.16c-2.31.15-4.46.31-6.77.61a101.39,101.39,0,0,0-29.08,9.08c-1.54.77-2.93-1.54-1.39-2.3a96.56,96.56,0,0,1,32.47-9.7,123.31,123.31,0,0,1,26,0h.46l3.84.47c8.62.92,16.93,2.62,25.55,3.38s17.7.92,26-2c6.31-2.15,15.85-5.23,13.7-13.54-2-8-10.77-9.54-18-11.69-9.54-2.62-19.55-2.77-29.55-2.62-9.84.32-19.69-1.54-29.54-1.69-9.23-.31-18.62-3.85-26.77-8.62-.15,0-.15-.15-.31-.15a.15.15,0,0,1-.15-.16h-.15c-25.85-17.84-58.48-16.77-90.79-12.92-21.85,2.77-44,2.15-62.17,14.77-8,5.69-14.93,12.47-22,19.23L32.32,215l36.93,55.39c2.31-1.69,4.62-3.07,6.93-4.46a55.88,55.88,0,0,1,28-6.76A139.06,139.06,0,0,1,134,263.29c10.92,2.46,21.69,5.53,32.62,8.3,10.77,2.93,21.54,5.69,32.47,7.55,10.77,1.69,22.16,2.77,32.78.31h.31c10-6,18.46-14.31,26.77-22.47,4-4.16,8.16-8.31,12.62-12.16a94.25,94.25,0,0,1,10.61-8.46c-10.61,0-21.23-2.15-31.85-3.54Zm84.78-70c-5.39,2.31-10.31,6.15-14.77,9.85-3.08,2.3-6,4.77-9.08,7.07-3.38,2.31-6.77,4.46-10.31,6.62-6.77,4.31-13.85,8.78-18.93,15.09-5.08,0-10.16.31-15.23.76,4.46-4.46,9.69-8.15,14.92-11.84a203.15,203.15,0,0,0,16.47-14c5.08-4.92,10.62-9.54,17.23-12.15A36.23,36.23,0,0,1,321,161.27a30.15,30.15,0,0,1,7.38.77Zm23.08,3.54c-.46,1.69-1.69,3.07-2.61,4.46a33.88,33.88,0,0,0-5.54-.62c-7.69-.47-14.62,3.22-20.62,7.69s-11.54,9.54-18.46,12.62c-6.46,2.93-13.23,5.24-17.39,11.39h0c-2-.15-4-.31-6-.31a9.07,9.07,0,0,0-2-.15c4.62-4.93,10.31-8.62,16-12.16A209.88,209.88,0,0,0,313,175.89c5.69-4.77,11.69-9.54,18.77-12.15,6.15-2.31,14.62-3.09,19.69,1.84Z"
                    />
                    <rect
                      class="blooddonation__cls-2"
                      x="25.03"
                      y="196.16"
                      width="34.27"
                      height="100.26"
                      transform="translate(-130 65.2) rotate(-33.84)"
                    />
                    <path
                      class="blooddonation__cls-1"
                      d="M263.75,104.49,209.59,0,155.73,104.49c-10.77,36.47,24.16,65.4,54,65.4s66.47-28.47,54-65.4Z"
                    />
                    <text
                      class="blooddonation__cls-3"
                      transform="translate(190.09 146.68)"
                    >
                      +
                    </text>
                  </g>
                </g>
              </svg>
            </div>
            <p>Blood Donations</p>
          </a>

          <% } else { %>
          <a href="/search" class="card credentialing">
            <div class="overlay"></div>
            <div class="circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64px"
                height="72px"
                viewBox="0 0 214.96 166.12"
              >
                <defs>
                  <style>
                    .search__cls-1 {
                      fill: #909ba0;
                    }
                    .search__cls-2 {
                      fill: #2e4661;
                    }
                    .search__cls-3 {
                      fill: #272525;
                      opacity: 0.12;
                    }
                    .search__cls-4 {
                      fill: #59595b;
                    }
                    .search__cls-5 {
                      fill: #b3d1e2;
                    }
                    .search__cls-6 {
                      opacity: 0.22;
                    }
                    .search__cls-7,
                    .search__cls-8 {
                      fill: #fff;
                    }
                    .search__cls-8 {
                      opacity: 0.31;
                    }
                    .search__cls-9 {
                      fill: #a36652;
                    }
                    .search__cls-10 {
                      fill: #6a8678;
                    }
                  </style>
                </defs>
                <title>search</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <rect
                      class="search__cls-1"
                      x="128.32"
                      y="61.39"
                      width="22.19"
                      height="104.36"
                      transform="translate(-30.75 171.69) rotate(-58.02)"
                    />
                    <path
                      class="search__cls-2"
                      d="M212.53,159.06l-.14.22c-3.71,5.94-10.32,8.5-14.78,5.72l-51.19-31.42,13.45-22.63,51.3,32.33C215.63,146.05,216.23,153.12,212.53,159.06Z"
                    />
                    <polygon
                      class="search__cls-3"
                      points="115.77 111.41 119 113.76 148.22 106.17 123.88 90.63 115.77 111.41"
                    />
                    <circle
                      class="search__cls-4"
                      cx="66.81"
                      cy="66.81"
                      r="66.81"
                      transform="matrix(0.53, -0.85, 0.85, 0.53, -25.24, 88.11)"
                    />
                    <circle
                      class="search__cls-5"
                      cx="66.81"
                      cy="66.81"
                      r="57.47"
                      transform="matrix(0.53, -0.85, 0.85, 0.53, -25.24, 88.11)"
                    />
                    <g class="search__cls-6">
                      <path
                        class="cls-7"
                        d="M25.4,64.5A40.47,40.47,0,0,1,100.83,43c2.61,4.46,9.73.73,7.11-3.73A49.11,49.11,0,0,0,55.44,16C35.1,20.38,20.08,37.87,17.64,58.3a44.39,44.39,0,0,0-.26,6c.08,5.16,8.11,5.43,8,.23Z"
                      />
                    </g>
                    <circle
                      class="search__cls-8"
                      cx="110.03"
                      cy="55.38"
                      r="5.29"
                      transform="translate(4.78 119.39) rotate(-58.02)"
                    />
                    <path
                      class="search__cls-9"
                      d="M147.1,132.82l12.8-21.53a1.68,1.68,0,0,0-.44-2.2l-.22-.17a1.68,1.68,0,0,0-2.45.5l-12.6,21.68a1.68,1.68,0,0,0,.64,2.31l0,0A1.68,1.68,0,0,0,147.1,132.82Z"
                    />
                    <path
                      class="search__cls-10"
                      d="M122.88,67.23a56.86,56.86,0,0,1-88.75,47.11,56.89,56.89,0,0,1,9.93-99.6,56.88,56.88,0,0,1,71.19,24,56.92,56.92,0,0,1,7.63,28.47,1.53,1.53,0,0,0,3.06,0A60,60,0,0,0,78.59,8.62,60,60,0,0,0,8.41,83.82,59.94,59.94,0,0,0,106.94,111a60.27,60.27,0,0,0,19-43.77A1.53,1.53,0,0,0,122.88,67.23Z"
                    />
                  </g>
                </g>
              </svg>
            </div>
            <p>Search for Blood</p>
          </a>

          <% } %>

          <a href="/requests" class="card wallet">
            <div class="overlay"></div>
            <div class="circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="78px"
                height="60px"
                viewBox="0 0 54.72 56.06"
              >
                <defs>
                  <style>
                    .request__cls-1 {
                      fill: #8b6fc0;
                    }
                    .request__cls-2 {
                      fill: #ff5652;
                    }
                  </style>
                </defs>
                <title>request</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path
                      class="request__cls-1"
                      d="M48.64,44.24H0a9.75,9.75,0,0,1,2.87-6.92l1-1A8.37,8.37,0,0,0,6.3,30.4V19.09A18,18,0,0,1,25,1.08a17.84,17.84,0,0,1,4.35.71A13.11,13.11,0,0,0,41.61,19.52l.73,0V30.4a8.41,8.41,0,0,0,2.46,5.94l1,1a9.69,9.69,0,0,1,2.87,6.92Z"
                    />
                    <path
                      class="request__cls-1"
                      d="M33.93,46.87a9.63,9.63,0,0,1-10,9.19,9.75,9.75,0,0,1-9.25-9.19Z"
                    />
                    <path
                      class="request__cls-2"
                      d="M51,.64A5,5,0,0,0,49.43.31a8.26,8.26,0,0,0-6,2.53A20.09,20.09,0,0,0,40.55.64,6,6,0,0,0,32.65,3a7.43,7.43,0,0,0,1.14,8,15.72,15.72,0,0,0,5.71,4,9.78,9.78,0,0,0,3.16,1,9.28,9.28,0,0,0,4-.7A13.77,13.77,0,0,0,53,11a7.63,7.63,0,0,0,1.2-7.4A5.66,5.66,0,0,0,51,.64Z"
                    />
                  </g>
                </g>
              </svg>
            </div>
            <p>Requests</p>
          </a>

          <a href="/profile" class="card human-resources">
            <div class="overlay"></div>
            <div class="circle">
              <svg
                width="66px"
                height="77px"
                viewBox="1855 26 66 77"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                  transform="translate(1855.000000, 26.000000)"
                >
                  <path
                    d="M4.28872448,42.7464904 C4.28872448,39.3309774 5.4159227,33.7621426 6.40576697,30.4912557 C10.5920767,32.1098991 14.3021264,35.1207513 18.69596,35.1207513 C30.993618,35.1207513 42.5761396,28.7162991 49.9992251,17.9014817 C56.8027248,23.8881252 60.8188351,33.0463165 60.8188351,42.7464904 C60.8188351,60.817447 47.6104607,76.6693426 32.5537798,76.6693426 C17.4970989,76.6693426 4.28872448,60.817447 4.28872448,42.7464904"
                    id="Fill-8"
                    fill="#AFCEFF"
                  ></path>
                  <path
                    d="M64.3368879,31.1832696 L62.8424171,46.6027478 L60.6432609,46.7824348 L59.8340669,34.6791304 L47.6573402,25.3339478 C44.2906753,34.068487 34.3459503,40.2903304 24.4684093,40.2903304 C17.7559812,40.2903304 10.046244,37.4168 5.80469412,32.8004522 L5.80469412,34.6791304 L5.80469412,46.6027478 L4.28932167,46.6027478 L1.30187314,27.8802435 C1.30187314,20.9790957 3.52342407,15.5432 7.27229127,11.3578087 C13.132229,4.79558261 21.8124018,0.0492173913 30.5672235,0.342852174 C37.4603019,0.569286957 42.6678084,2.72991304 50.8299179,0.342852174 C51.4629405,1.44434783 51.8615656,3.00455652 51.5868577,5.22507826 C51.4629405,6.88316522 51.2106273,7.52302609 50.8299179,8.45067826 C58.685967,14.1977391 64.3368879,20.7073739 64.3368879,31.1832696"
                    id="Fill-10"
                    fill="#3B6CB7"
                  ></path>
                  <path
                    d="M58.9405197,54.5582052 C62.0742801,54.8270052 65.3603242,52.60064 65.6350321,49.5386574 C65.772386,48.009127 65.2617876,46.5570226 64.3182257,45.4584487 C63.3761567,44.3613357 62.0205329,43.6162922 60.4529062,43.4818922 L58.9405197,54.5582052 Z"
                    id="Fill-13"
                    fill="#568ADC"
                  ></path>
                  <path
                    d="M6.32350389,54.675367 C3.18227865,54.8492104 0.484467804,52.4957496 0.306803449,49.4264626 C0.217224782,47.8925496 0.775598471,46.4579757 1.75200594,45.3886191 C2.7284134,44.3192626 4.10792487,43.6165843 5.67853749,43.530393 L6.32350389,54.675367 Z"
                    id="Fill-15"
                    fill="#568ADC"
                  ></path>
                </g>
              </svg>
            </div>
            <p>Profile</p>
          </a>
        </div>
      </div>
    </section>
    <%- include('../includes/footer'); %>

    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
