<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/header'); %>

    <style>
      .tooltip {
        position: relative;
        display: inline-block;
        border: 0;
      }

      .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 30rem;
        background-color: #00b4ab;
        color: #fff;
        text-align: center;
        padding: 2rem;
        border-radius: 6px;

        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

      @media screen and (max-width: 760px) {
        .tooltip .tooltiptext {
          left: -5rem;
          width: 25rem;
        }
        .tooltip-right {
          top: 135%;
          left: 50%;
          margin-left: -60px;
        }

        .tooltip-right::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #555 transparent;
        }
      }
      @media screen and (min-width: 768px) {
        .tooltip-right {
          top: -5px;
          left: 125%;
        }

        .tooltip-right::after {
          content: "";
          position: absolute;
          top: 10%;
          right: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent #555 transparent transparent;
        }
      }

      .tooltip-bottom {
        top: 135%;
        left: 50%;
        margin-left: -60px;
      }

      .tooltip-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
      }

      .tooltip-top {
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
      }

      .tooltip-top::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      .tooltip-left {
        top: -5px;
        bottom: auto;
        right: 128%;
      }
      .tooltip-left::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #555;
      }
    </style>
  </head>

  <body>
    <%- include('../includes/navbar') %> <% if(user.role=='donar') { %>

    <section class="requests">
      <div class="container">
        <div class="new-requests">
          <div class="card">
            <div class="card-body">
              <% if(data.length>0) { %>
              <table style="margin-top: 2rem">
                <thead>
                  <tr>
                    <th>#</th>
                    <th scope="col">New Requests</th>
                    <th>Accept</th>
                    <th>Reject</th>
                  </tr>
                </thead>
                <tbody>
                  <% data.filter(element =>
                  element.status=='pending').map((_,index) => { %>
                  <tr>
                    <td><%= index+1%></td>
                    <td>
                      Recieved a request from <%= _.requesteduser %>,for
                      BloodGroup of <%= _.reqgroup%> with <%= _.bloodunits %>
                      Units
                    </td>
                    <td>
                      <a
                        href="/requestEx/status=accepted&reqid= <%=_.reqid %>&<%=_.username%>&userid=<%= _.userid %>&<%=_.requesteduser%>&<%=_.requesteduserid%>&group=<%= _.reqgroup %>&units=<%= _.bloodunits %>"
                      >
                        <svg class="icon accept">
                          <use
                            xlink:href="./images/sprite.svg#check-circle-fill"
                          ></use>
                        </svg>
                      </a>
                    </td>
                    <td>
                      <a
                        href="/requestEx/status=rejected&reqid= <%=_.reqid %>&<%=_.username%>&userid=<%= _.userid %>&<%=_.requesteduser%>&<%=_.requesteduserid%>&group=<%= _.reqgroup %>&units=<%= _.bloodunits %>"
                      >
                        <svg class="icon reject">
                          <use
                            xlink:href="./images/sprite.svg#x-circle-fill"
                          ></use>
                        </svg>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <% }) } else {%>
                <div class="notification" style="width: 100%; padding: 0">
                  <div class="alert alert-success" style="padding: 2rem">
                    No New Requests
                  </div>
                </div>
                <% }%>
              </table>
            </div>
          </div>
        </div>
        <div class="acccepted-requests">
          <div class="card">
            <div class="card-body">
              <table style="margin-top: 2rem">
                <thead>
                  <tr>
                    <th scope="col">Responded Requests</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length>0) { %> <% data.filter(element =>
                  element.status!=='unknown').map(_ => { %>
                  <tr>
                    <td>
                      Request from <%= _.requesteduser %> with <%= _.bloodunits
                      %> units has been <%= _.status %> on <%= _.ondate %>
                    </td>
                  </tr>
                  <% }) } else {%>
                  <tr>
                    <td>No Request till now..</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% } else {%>

    <section class="requests">
      <div class="container">
        <div class="receptor-req">
          <div class="card">
            <div class="card-body">
              <% if(data.length>0) { %>
              <table style="margin-top: 2rem; text-align: center">
                <thead>
                  <tr>
                    <th scope="col">#</th>

                    <th scope="col">Requests</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length>0) { %> <% data.map((_,index) => { %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td>
                      Request To <%= _.username %> with <%= _.bloodunits %>
                      units
                    </td>
                    <% if (_.status=='pending') { %>

                    <td style="text-transform: capitalize; color: #393e46">
                      <%= _.status %>
                    </td>
                    <% } if(_.status=='accepted') { %>
                    <td
                      class="tooltip"
                      id="tooltip"
                      style="text-transform: capitalize; color: #7bc74d"
                    >
                      <%= _.status %>
                      <span class="tooltiptext tooltip-right">
                        <h3>Request <%=_.status %> By</h3>

                        <% const user= (users.filter((element)=>
                        element.userid==_.userid))[0] %>
                        <p>BloodBank : <%=user.username %></p>
                        <p>Email : <%=user.email %></p>
                        <p>Address : <%=user.address %></p>
                        <p>City : <%=user.city %></p>
                        <p>
                          Contact No : <%= user.contactprefix %>
                          <%=user.contactno %>
                        </p>
                      </span>
                    </td>

                    <%} if(_.status=='rejected') { %>
                    <td style="text-transform: capitalize; color: #f06161">
                      <%= _.status %>
                    </td>

                    <% } %>

                    <td><%= _.ondate %></td>
                  </tr>
                  <% }) } else {%>
                  <tr>
                    <td>No Request till now..</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <%} else {%>
              <div class="notification" style="width: 100%; padding: 0">
                <div class="alert alert-success" style="padding: 2rem">
                  No New Requests
                </div>
              </div>

              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%} %> <%- include('../includes/subFooter'); %>

    <script src="./javascripts/mobileNav.js"></script>
    <script>
      const tooltip = document.querySelectorAll("#tooltip");

      for (const button of tooltip) {
        var tips = button.children[0];

        button.addEventListener("click", function (event) {
          if (button.children[0].style.opacity == "1") {
            button.children[0].style.opacity = "0";
            button.children[0].style.visibility = "hidden";
          } else {
            button.children[0].style.opacity = "1";
            button.children[0].style.visibility = "visible";
          }
        });
      }
    </script>
  </body>
</html>
