<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/header'); %>
    <style>
      .search .card-body {
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/navbar') %> <% if(requestMsg) { %> <%-
    include('../includes/notification',{className: requestMsg.status
    ==='success' ? "alert-success" : "alert-danger", message:requestMsg.message
    }) %> <% }%>
    <section class="search">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h6 class="title justify-center">Search for Blood</h6>
            <form
              class="search-form addBloodForm"
              method="POST"
              action="/search"
            >
              <div class="justify-center" style="display: flex">
                <P style="flex: 0 0 40%">Blood Group</P>
                <div class="custom-select" style="flex: 0 0 60%">
                  <select class="group" name="group">
                    <option>SELECT BLOOD GROUP</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                  </select>
                </div>
              </div>
              <div class="form-input-material">
                <input
                  id="Location"
                  class="form-control-material"
                  type="text"
                  autofocus="false"
                  name="Location"
                  placeholder=""
                  autoComplete="off"
                  required
                />
                <label use="Location">Location</label>
              </div>
              <div class="form-input-material">
                <input
                  id="Units"
                  class="form-control-material"
                  type="number"
                  autofocus="false"
                  name="Units"
                  placeholder=""
                  autoComplete="off"
                  required
                />
                <label use="Units">Units</label>
              </div>
              <div class="justify-center">
                <button class="btn btn-accent center">
                  <svg class="icon">
                    <use xlink:href="images/sprite.svg#search"></use>
                  </svg>
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <% if(searchError) { %>
    <section class="search-error">
      <div class="container">
        <div class="notification">
          <div class="alert alert-danger" style="padding: 2rem">
            Invalid Search Results
          </div>
        </div>
      </div>
    </section>
    <%} %> <% if(searchData) { %>
    <section>
      <div class="container" style="padding: 2rem">
        <div class="notification">
          <div class="alert alert-success" style="padding: 2rem">
            <% if(searchData.length > 0) { %> <%= searchData.length %> Search
            Results Found <% } else { %> NO Results Found <% } %>
          </div>
        </div>
        <div class="grid">
          <% searchData.map((_)=>{ %>
          <div class="grid__item">
            <div class="card" style="margin: 0">
              <div class="card__content" style="text-align: center">
                <h1 class="card__header"><%= _.username %></h1>
                <hr />
                <p class="card__text">
                  contains
                  <strong style="font-size: 2rem"><%= _.bloodtype %></strong>
                  with <%= requestData.Units %> units
                </p>

                <a
                  href="/requestBlood/<%=_.userid %>&<%= _.username %>&<%=_.bloodtype%>&<%= requestData.Units %>&<%= user.userid %>&<%= user.username %>"
                  class="card__btn"
                  >Request <span>&rarr;</span></a
                >
              </div>
            </div>
          </div>
          <% }) %>

          <!-- <div class="grid__item">
            <div class="card" style="margin: 0">
              <img
                class="card__img"
                src="https://images.unsplash.com/photo-1506318164473-2dfd3ede3623?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3300&amp;q=80"
                alt="Canyons"
              />
              <div class="card__content">
                <h1 class="card__header">Utah sunsets</h1>
                <p class="card__text">
                  Sunsets over the <strong>stunning</strong> Utah Canyonlands,
                  is truly something much more than incredible.
                </p>
                <button class="card__btn">Explore <span>&rarr;</span></button>
              </div>
            </div>
          </div>
           -->
        </div>
      </div>
    </section>
    <% }%> <%- include('../includes/subFooter'); %>
    <script src="../javascripts/mobileNav.js"></script>
    <script src="../javascripts/selectBox.js"></script>
  </body>
</html>
